
{% block content %}

<div class="row">
	<div class="col-md-8">
		<section id="ChangePasswordForm">
            <form action="." method="post" class="form-horizontal" prefix="changePassword">
                {% csrf_token %}
                <hr />
                <div class="form-group">
                    <label for="id_old_password" class="col-md-2 control-label">Old Password</label>
                    <div class="col-md-10">
                        {{ changePasswordForm.old_password }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_new_password1" class="col-md-2 control-label">New Password</label>
                    <div class="col-md-10">
                        {{ changePasswordForm.new_password1 }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_new_password2" class="col-md-2 control-label">Confirm Password</label>
                    <div class="col-md-10">
                        {{ changePasswordForm.new_password2 }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" name="changePassword" value="Change Password" class="btn btn-primary" />
                    </div>
                </div>
                {% if changePasswordForm.errors %}
                    <p class="validation-summary-errors">Your password could not be changed due to one or more errors:</p>
                    {% for field in changePasswordForm.errors.items %}
                        <p class="field-validation-error">{{field.1.0}}</p>
                    {% endfor %}
                {% endif %}
            </form>
		</section>
	</div>
</div>


{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
