{% extends "app/layout.html" %}

{% block content %}

<script>
    function selectTransfer(newHelperID) {
        document.forms["transferForm"].elements["newHelperID"].value = newHelperID;
    }
    function submitTransfer() {
        document.getElementById("transferForm").submit();
    }
    function releaseRequest() {
        document.getElementById("releaseForm").submit();
    }
</script>



<form id="transferForm" action="." method="post">
    {% csrf_token %}
    <input type="hidden" name="newHelperID" value=0 />
</form>
<form id="releaseForm" action="." method="post">
    {% csrf_token %}
    <input type="hidden" name="releaseRequest" value=1 />
</form>

<h2>{{ title }}</h2>

<div class="row">
    <div class="col-md-8">
        <form action="." method="post" class="form-horizontal" prefix="markComplete">
            {% csrf_token %}
            <h3>Request</h3>
            <div class="col-md-10">
                <h4>User</h4>
                {{ nameOfUser }}
            </div>
            <div class="col-md-10">
                <h4>Station</h4>
                {{ station }}
            </div>
            <div class="col-md-10">
                <h4>Description</h4>
                {{ description }}
            </div>
            <div class="col-md-10">
                <h4>Submitted</h4>
                {{ requestSubmitted }}
            </div>
            <div class="col-md-10">
                <br />
            </div>
            <div class="col-md-10">
                <input type="hidden" name="markComplete" value="1" />
                <input type="submit" value="Mark Request Complete" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-10">
        <div class="col-md-8">
            <button type="submit" class="btn btn-default" onclick="javascript:releaseRequest()">Cancel (Release Request)</button>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-10">
        <div class="col-md-8">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="selectedName">
                    Choose Helper...<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for professor in labProfs %}
                    <li><a onclick="javascript: selectTransfer({{professor.id}})">{{professor.first_name}} {{professor.last_name}}</a></li>
                    {% endfor %}
                    {% if labTAs %}
                    <li role="separator" class="divider"></li>
                    {%for ta in labTAs %}
                    <li><a onclick="javascript: selectTransfer({{ta.id}})">{{ta.first_name}} {{ta.last_name}}</a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
                <button type="submit" onclick="javascript:submitTransfer()" class="btn btn-primary">Transfer</button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-10">
    <!-- Solid divider -->
    <hr class="solid">
</div>
<div class="row">
    <div class="col-md-8">
        <h3>All Requests</h3>
        <div class="col-md-10">
            <h4>Requests in Queue</h4>
            {{ requests }}
        </div>
        <div class="col-md-10">
            <h4>Average Wait</h4>
            {{ averageWait }}
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
