<p>
    <p>
        <b>Q: </b>I'm locked out of my account! How do I recover it?
        <br><b>A: </b>Please <a href="/account/forgotPassword/">reset your password</a>
    </p>
</p>
<p></p>

<p>
    <b>Q: </b>I accidentally deleted my account. How do I recover it?
    <br><b>A: </b>If you recently deleted your account, we may be able to recover it.
    Please <a href="/contact/">contact us</a> immediately
</p>
<p></p>

<p>
    <b>Q: </b>I can't login, but I am 100% sure that my username and password are correct. What do I do?
    <br><b>A: </b>Make sure you have activated your account (check your email or click
    <a>here</a> to reset the activation link). If you still can't login, please
    <a href="/contact/">contact us</a>
</p>