<p>
    <p>
        <b>Q: </b>How many students and TAs can I have in my lab?
        <br><b>A: </b>You can have as many as you like!
    </p>
</p>
<p></p>

<p>
    <b>Q: </b>What if I have multiple sections for a lab?
    <br><b>A: </b>You should create a separate lab for each section and label them with the appropriate section number
</p>
<p></p>

<p>
    <b>Q: </b>How do I remove a student or TA from my lab?
    <br><b>A: </b>Head over to lab settings to remove users from the lab. If a user still has a lab code and attempts to add themselves back, please regenerate a new lab code
</p>