<p>
    <p>
        <b>Q: </b>Will my subscription automatically renew?
        <br><b>A: </b>No. We do not want to trick you into resubscribing. We want to earn your business!
    </p>
</p>
<p></p>

<p>
    <b>Q: </b>Are my card transactions safe and secure?
    <br><b>A: </b>Yes! All card information processing is done by Square, Inc. We never see any
    of your card information.
</p>
<p></p>

<p>
    <b>Q: </b>Are there any discounts available?
    <br><b>A: </b>We do not offer any discounts to individual users. However, we will consider
    discounts for departments and schools on a case-by-case basis.
</p>