{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <img src="https://storage.googleapis.com/lablineup-static/Logos/primary_logo.png" height=30% width=30%></img>
    <p class="lead">Welcome to LabLineup, a free and easy to use queuing system for handling requests for help in your academic labs.</p>
    <p><a href="{% url 'about' %}" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Click below to sign up for a free account and begin using LabLineup right away.
        </p>
        <p><a class="btn btn-default" href="{% url 'register' %}">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Help</h2>
        <p>Click below to get help and read our frequently asked questions.</p>
        <p><a class="btn btn-default" href="{% url 'help' %}">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Click here to contact us for help or to offer comments and suggestions.</p>
        <p><a class="btn btn-default" href="{% url 'contact' %}">Contact Us &raquo;</a></p>
    </div>
</div>

{% endblock %}
