{% block content %}
<div class="row">
    <div class="col-md-8">
        <section id="ManageLabNotificationsForm">
            <form action="." method="post" class="form-horizontal" prefix="notificationForm">
                {% csrf_token %}
                <hr />
                <h3>Notification Settings</h3>
                <div class="form-group">
                    <label for="id_notifyNew" class="col-md-2 control-label">Receive a notification when a new request is submitted</label>
                    <div class="custom-control">
                        {{ notificationForm.notifyNew }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_notifyThreshold" class="col-md-2 control-label">Receive a notification when the request queue reaches the set number (0 for off)</label>
                    <div class="col-md-10">
                        {{ notificationForm.notifyThreshold }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Save Notification Settings" class="btn btn-default" name="notificationForm" />
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">Error</p>
                {% endif %}
            </form>
        </section>
    </div>
</div>

{% endblock %}

{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
