{% block content %}
<div class="row">
    <div class="col-md-8">
        <section id="ManageLabNotificationsForm">
            <form action="." method="post" class="form-horizontal" prefix="notificationForm">
                {% csrf_token %}
                <hr />
                <h3>Notification Settings</h3>
                <style>
                    .toggle {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        width: 62px;
                        height: 32px;
                        display: inline-block;
                        position: relative;
                        border-radius: 50px;
                        overflow: hidden;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        background-color: lightgray;
                        transition: background-color ease 0.3s;
                    }

                    .toggle:before {
                        content: "on ";
                        display: block;
                        position: absolute;
                        z-index: 2;
                        width: 28px;
                        height: 28px;
                        background: #fff;
                        left: 2px;
                        top: 2px;
                        border-radius: 50%;
                        font: 10px/28px Helvetica;
                        text-transform: uppercase;
                        font-weight: bold;
                        text-indent: -22px;
                        word-spacing: 37px;
                        color: #fff;
                        text-shadow: -1px -1px rgba(0,0,0,0.15);
                        white-space: nowrap;
                        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
                        transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
                    }

                    .toggle:checked {
                        background-color: #73000a;
                    }

                    .toggle:checked:before {
                        left: 32px;
                    }
                </style>
                <div class="form-group" style="display: inline-block;">
                    <label for="id_notifyNew" class="control-label" style="width: 200px; float:left; margin-left: 15px; margin-right: 50px;">Receive a notification when a new request is submitted</label>
                    <div style="color:white; float:right; padding-top: 5px;">
                        <input class="toggle" type="checkbox" {{ notificationForm.notifyNew }}/>
                    </div>
                </div>
                <br>
                <div class="form-group" style="display: inline-block;"></span>
                    <label for="id_notifyThreshold" class=" control-label" style="width: 200px; float:left; margin-left:15px; margin-right: 50px;">Receive a notification when the request queue reaches the set number (0 for off)</label>
                    <div  style="color: white; float: right;">
                        <input type="number" style= "width: 62px; text-align: right; margin-top: 5px; margin-right: 10px"{{ notificationForm.notifyThreshold }}></input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="notificationForm" value="/" />
                        <input type="submit" value="Save Notification Settings" class="btn btn-default" name="notificationForm" />
                    </div>
                </div>
                {% if notificationForm.errors %}
                    <p class="validation-summary-errors">Error: The threshold must be 0 or greater</p>
                {% endif %}
            </form>
        </section>
    </div>
</div>

{% endblock %}

{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
