{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h3 class="card-title text-uppercase text-center">Free</h3>
            <h6 class="card-price text-center">$0<span class="period">/year</span></h6>
            <hr>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>1 Lab</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited students</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited TAs</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Notifications</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Add / Remove Students from Labs</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Reports</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Technical Support via Email</li>

            </ul>
            <a href="/account/" class="btn btn-block btn-primary text-uppercase">GET STARTED</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h3 class="card-title text-muted text-uppercase text-center">Silver</h3>
            <h6 class="card-price text-center">$20<span class="period">/year</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Labs</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited students</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited TAs</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Notifications</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Add / Remove Students from Labs</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Reports</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Technical Support via Email</li>
            </ul>
            <a href="/account/" class="btn btn-block btn-primary text-uppercase">GET STARTED</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-muted text-uppercase text-center text-warning">Gold</h3>
            <h6 class="card-price text-center">$30<span class="period">/year</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>20 Labs</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited students</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited TAs</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Notifications</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Add / Remove Students from Labs</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Reports</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Technical Support via Email</li>
            </ul>
            <a href="/account/" class="btn btn-block btn-primary text-uppercase">GET STARTED</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
