{% extends "app/layout.html" %}

{% block content %}

<head>
    <meta http-equiv="refresh" content="5">
</head>

<table style="width:100%">
    <tr>
        <td><h2 valign="middle">{{ title }}</h2></td>
        <td align="right" valign="middle"><a class="btn btn-default" href="/lab/manageLab/" role="button">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a></td>
    </tr>
</table>

<div class="row">
    <div class="col-md-8">
            <h3>All Requests</h3>
            <div class="col-md-10">
                <h4>Requests in Queue</h4>
                {{ requestCount }}
            </div>
            <div class="col-md-10">
                <h4>Average Wait</h4>
                {{ averageWait }}
            </div>
            <div class="col-md-10">
                <br />
            </div>
        {% if requestCount != '0' %}
            <div class="col-md-10">
                <a href="/lab/queue/currentRequest" class="btn btn-primary">Accept Next Request</a>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block scripts %}
{% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
