{% block content %}

<div class="panel panel-default py-0 my-0">
        <div class="card-body">
            <div class="panel-heading" style="font-size: 15px;padding-bottom:0px"><b>{{request.timeSubmitted}}</b></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10" style="font-size: 12px; ">
                        Completed: {{request.timeCompleted}}
                    </div>
                </div>
                {% if view == 'Professor' or view == 'TA' %}
                    <div class="row">
                        <div class="col-md-10" style="font-size: 12px; ">
                            Lab: {{request.lab}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10" style="font-size: 12px; ">
                            Student: {{request.student}}
                        </div>
                    </div>
                {% endif %}
                {% if view != 'ta' %}
                    <div class="row">
                        <div class="col-md-10" style="font-size: 12px;">
                            Helped By: {{request.help}}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-10" style="font-size: 12px;">
                        Feedback: {{request.feedback}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10" style="font-size: 12px;">
                        Station: {{request.station}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10" style="font-size: 12px;">
                        Description: {{request.description}}
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}


{% block scripts %}


{% endblock %}