{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>
<div class="row">
    <div class="col-md-8">
        <section id="requestEmailConfirmForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">Username</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Send" class="btn btn-primary" />
                    </div>
                </div>
                {% if form.errors %}
                    <p class="validation-summary-errors">We were unable to send you a confirmation link. Please contact us for assistance.</p>
                    {% for error in form.errors.items %}
                        <p class="field-validation-error">{{error.1.0}}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
