{% block content %}
<div class="panel panel-default" id="selectLab">
        <div class="card-body">
            <div class="panel-heading" style= "display:inline-block;"><b>{{lab.lab.name}}</b></div>
            <div class="panel-body" style= "display:inline-block; float: right" >
                {% if lab.requestCount > 0 %}
                    <span class="badge badge-primary">My Requests: {{lab.requestCount}}</span>
                {% else %}
                    <span class="badge badge-light">My Requests: {{lab.requestCount}}</span>
                {% endif %}
            </div>
            <div class="panel-body" >{{lab.lab.description}}</div>
            
        </div>
</div>
{% endblock %}


{% block scripts %}


{% endblock %}