{% extends "app/layout.html" %}

{% block content %}

<table style="width:100%">
    <tr>
        <td><h2 valign="middle">{{ title }}</h2></td>
        <td align="right" valign="middle"><a href="/addLab/"><button type="button" class="btn btn-success">+</button></a></td>
    </tr>
</table>

<script>
    function setLab(selectedLabID, role) {
        document.forms["selectLabForm"].elements["labID"].value = selectedLabID;
        document.getElementById("selectLabForm").submit();
    }
    function setLabRemove(selectedLabIDRemove, role) {
        confirmResponse = confirm("Are you sure you want to remove this lab from your account?")
        if (confirmResponse) {
            document.forms["selectLabRemoveForm"].elements["labIDRemove"].value = selectedLabIDRemove;
            document.getElementById("selectLabRemoveForm").submit();
        }
    }
</script>

<form id="selectLabForm" action="." method="post">
    {% csrf_token %}
    <input type="hidden" name="labID" value=0 />
</form>
<form id="selectLabRemoveForm" action="." method="post">
    {% csrf_token %}
    <input type="hidden" name="labIDRemove" value=0 />
</form>

<div class="row">
    <div class="col-md-8">
        <section id="labsAsStudent">
            {% if labsWhereStudent %}
                <h3>Student</h3>
                {% for lab in labsWhereStudent %}
                    <div class="row">
                        <div class="col-md-10">
                            <div onclick="javascript:setLab({{lab.lab.lid}})">
                                {% include 'app/selectLabpartial.html' %}
                            </div>
                        </div>
                        <div class="col-md-2" align="right" id="selectLabRemove">
                            <div onclick="javascript:setLabRemove({{lab.lab.lid}})">
                                {% include 'app/removeLab.html' %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <a href="/student/requestHistory/">
                    <button type="button" class="btn btn-default">
                        View Request History
                    </button>
                </a>
            {% endif %}
        </section>
        <section id="labsAsTA">
            {% if labsWhereTA %}
                <h3>Teaching Assistant</h3>
                {% for lab in labsWhereTA %}
                    <div class="row">
                        <div class="col-md-10">
                            <div onclick="javascript:setLab({{lab.lab.lid}})">
                                {% include 'app/selectLabpartial.html' %}
                            </div>
                        </div>
                        <div class="col-md-2" align="right">
                            <div onclick="javascript:setLabRemove({{lab.lab.lid}})">
                                {% include 'app/removeLab.html' %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </section>
        <section id="labsAsProfessor">
            {% if labsWhereProfessor %}
                <h3>Professor</h3>
                {% for lab in labsWhereProfessor %}
                    <div class="row">
                        <div class="col-md-10">
                            <div onclick="javascript:setLab({{lab.lab.lid}})">
                                {% include 'app/selectLabpartial.html' %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </section>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8">
        <section id="createNewLab">
            <a href="/createLab"><button class="btn btn-default">Create a lab (Professor)</button></a>
        </section>
    </div>
</div>

{% endblock %}


{% block scripts %}
 {% load staticfiles %}


{% endblock %}
