{% extends "app/layout.html" %}

{% block content %}

<script>
    function cancelRequest() {
        document.forms["cancelRequestForm"].elements["cancelRequest"].value = "true";
        document.getElementById("cancelRequestForm").submit();
    }

    function neverHelped() {
        console.log("Never helped");
        document.forms["neverHelpedForm"].elements["neverHelped"].value = "true";
        document.getElementById("neverHelpedForm").submit();
        
    }
</script>

<form id="cancelRequestForm" action="." method="post" prefix="cancelRequestForm">
    {% csrf_token %}
    <input type = "hidden" name = "cancelRequest" value = ''/>
</form>
<form id="neverHelpedForm" action="." method="post" prefix="neverHelpedForm">
    {% csrf_token %}
    <input type = "hidden" name = "neverHelped" value = ''/>
</form>

<h2>{{ title }}</h2>
<div class = row>
    <div class="col-md-8">
        
            <h4> Lab: {{ labID }}</h4>
            <h4> 
                Station ID: 
                <p style="display: inline-block;
                width: 150px;
                border: 1px solid #000;
                text-align: center;">{{ stationID }}</p>
            </h4>
            <h4>
                Estimated Wait:
                {{ avgWait }}
            </h4>
            <h4>
                Number of Requests Before You:
                {{ numBefore }}
            </h4>
            </p>
            <div class="col-md-10">

            <form action="." method="post" class="form-horizontal" prefix="cancelRequestForm">
                <button type="button" class="btn btn-primary" onclick= "javascript:cancelRequest();">Cancel Request</button>
            </form>
            <form action="." method="post" class="form-horizontal" prefix="neverHelpedForm">
                <button type="button" class="btn btn-primary" onclick= "javascript:neverHelped();">I was never helped</button>  
            </form>      
        </div>
    </div>
</div>

{% endblock %}