{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<p>
    Thank you for joining LabLineup Premium. 
    If you have any issues, please feel free to contact us anytime.
    Your subscription will not automatically renew, because we don't
    want to trap you into renewing. We want to earn your business. At
    any point before the end of your subscription, you can simply purchase
    another year of service. The year will begin when your previous
    subscription end.
</p>
<br />

<a href="/app/"><button class="btn btn-primary">Launch LabLineup</button></a>

{% endblock %}
