{% block content %}

<script>
    function setUserToRemove(userIDToRemove) {
        confirmResponse = confirm("Are you sure you want to remove this user?")
        if (confirmResponse) {
            document.forms["userToRemoveForm"].elements["userIDRemove"].value = userIDToRemove;
            document.getElementById("userToRemoveForm").submit();
        }
    }
</script>

<form id="userToRemoveForm" action="." method="post" prefix="userToRemoveForm">
    {% csrf_token %}
    <input type="hidden" name="userIDRemove" value=0 />
</form>

<div class="row">
    <div class="col-md-8">
        {% if tas %}
            <h3>Teaching Assistants</h3>
            <section id="addTAForm">
                <form action="." method="post" class="form-horizontal" prefix="addTAForm">
                    {% csrf_token %}
                    <hr />
                    <div class="form-group">
                        <label for="id_username" class="col-md-2 control-label">Username</label>
                        <div class="col-md-8">
                            {{ addTAform.username }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="hidden" name="addTAForm" value="/" />
                            <input type="submit" value="Add TA" class="btn btn-default" />
                        </div>
                    </div>
                    {% if addTAform.errors %}
                        <p class="validation-summary-errors">The TA was not added</p>
                        {% for error in addTAform.errors.items %}
                            <p class="field-validation-error">{{error.1.0}}</p>
                        {% endfor %}
                    {% endif %}
                </form>
            </section>
            {%for ta in tas %}
            <div class="panel panel-default" id="userList" style="width:90%">
                <div class="card-body">
                    <table style="width:100%">
                        <tr>
                            <td align="left" width="40%">{{ta.first_name}} {{ta.last_name}}</td>
                            <td align="left" width="40%">{{ta.email}}</td>
                            <td align="right"><button type="button" class="btn btn-danger" onclick="javascript:setUserToRemove('{{ta.id}}')">X</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        {% if students %}
            <h3>Students</h3>
            {%for student in students %}
                <div class="panel panel-default" id="userList" style="width:90%">
                    <div class="card-body">
                        <table style="width:100%">
                            <tr>
                                <td align="left" width="40%">{{student.first_name}} {{student.last_name}}</td>
                                <td align="left" width="40%">{{student.email}}</td>
                                <td align="right"><button type="button" class="btn btn-danger" onclick="javascript:setUserToRemove('{{student.id}}')">X</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>


{% endblock %}


{% block scripts %}


{% endblock %}